[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urwid = "*"
docopt = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
pycodestyle = "*"

[requires]
python_version = "3.7"
